    <td >{{ article.id}}</td>
    <td class="center">{{ article.name}}</td>
    <td>{{ article.quantity}}</td>
    <td>{{ article.purchasePrice}}</td>
    <td>{{ article.sellingPrice}}</td>
    <td>
        <img [src]="article.imgPath" alt="" style="max-height:40px ;">
    </td>
    <td>
        <a href="#">
            <mat-icon aria-hidden="false" aria-label="edit article" fontIcon="edit"></mat-icon>
        </a>
        <a href="#">
            <mat-icon color="warn" aria-hidden="false" aria-label="delete article" fontIcon="delete"></mat-icon>

        </a>
    </td>
