    <td class="center">{{ article.name}}</td>
    <td class="center">{{ article.quantity}}</td>
    <td class="center">{{ article.purchasePrice}}</td>
    <td class="center">{{ article.sellingPrice}}</td>
    <td class="center">
        <img [src]="article.imgPath" alt="" style="max-height:40px ;">
    </td>
    <td class="center">
        <div class="d-flex flex-row gap-2">
            <button type="button" (click)="onEdit()" class="btn btn-outline-dark">Edit</button>
            <button type="button" (click)="placeOrder()" [disabled]="article.quantity === 0" class="btn btn-outline-primary">Order</button>
        </div>
    </td>
