    <td >{{ article.id}}</td>
    <td class="center">{{ article.name}}</td>
    <td>{{ article.quantity}}</td>
    <td>{{ article.purchasePrice}}</td>
    <td>{{ article.sellingPrice}}</td>
    <td>
        <img [src]="article.imgPath" alt="" style="max-height:40px ;">
    </td>
    <td>
        <div class="d-flex flex-row gap-2">
            <button type="button" class="btn btn-outline-dark">Edit</button>
            <button type="button" (click)="placeOrder()" class="btn btn-outline-primary">New Order</button>
        </div>
    </td>
